/** GENERAL **/
html { min-height:100%; }

body, html {
	font-family: Verdana, sans-serif;
	background-color: #ddd;
  background: #a5c9e5;
  background: url(images/body_bg2.png);
	-webkit-font-smoothing: antialiased;

	pointer-events: none;
}

h3 {
  margin-bottom: 5px;
}

article section {
  background : none;
}
article section section {
  background: url(images/slide_bg.png);
}

/** STEP STYLES **/
section {

	width: 900px;
  height: 500px;
	font-size: 20pt;
	min-height: 600px;

	display: block;
  padding: 0px 15px;

	text-align: center;

  color: whitesmoke;
	z-index: 1;
  text-shadow: black 0.1em 0.1em 0.2em;
  letter-spacing: 1px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	-webkit-transition: 2s;
	-moz-transition:    2s;
	-ms-transition:     2s;
	-o-transition:      2s;
	transition:         2s;

	pointer-events: auto;
}

.nextsection {
}
.prevsection {
}

.prevsection, .nextsection {
	border: 1px rgba(202, 102, 202, 0.5);
	border-radius: 5px;
	margin-top: 30px;
	padding: 5px;
	background: rgba(202, 202, 202, 0.5);
	box-shadow: 2px 2px rgba(0,0,0,0.5);
	color: black;
	text-decoration: none;
	opacity: 0;

	-webkit-transition: 2s;
	-moz-transition:    2s;
	-ms-transition:     2s;
	-o-transition:      2s;
	transition:         2s;
}

section ul {
  text-align: left;
}
section li {
  margin-bottom: 10px;
}
section li ul {
  margin-top: 10px;
}

.active .prevsection, .active .nextsection {
	opacity: 1;
}

.small-text {
  font-size: 15pt;
}
.smaller-text {
  font-size: 10pt;
}
.medium-text {
  font-size: 18pt;
}
.large-text {
  font-size: 22pt;
}

h1.title {
  margin-top : 30%;
  font-size: 35px;
}

.inner {
  position: absolute;
  height: 500px;
  width: 900px;
  background: url(images/slide_bg.png);
  margin-left: -60px;
}

.inner-graph {
  position: absolute;
  margin-left: 0px;
  height: 450px;
  width: 800px;
  background: url(images/slide_bg.png);
}

.outer {
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: white;}

.syntax-container a:link {text-decoration: none; color: black;}
.syntax-container a:visited {text-decoration: none; color: black;}
.syntax-container a:active {text-decoration: none; color: black;}
.syntax-container a:hover {text-decoration: underline; color: black;}

.syntax-container {
  padding: 0;
}

section .syntax-container {
  text-shadow: none;
  font-size: medium;
  text-align: left;
}

section code.syntax {
  background-color: transparent;
  text-shadow: none;
  font-size: medium;
  text-align: left;
}